<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ab7baf71e8789b823cfefbce0dfbbd6d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_ab7baf71e8789b823cfefbce0dfbbd6d" ></div>
        
</body>
<script>
    
    
            var map_ab7baf71e8789b823cfefbce0dfbbd6d = L.map(
                "map_ab7baf71e8789b823cfefbce0dfbbd6d",
                {
                    center: [55.807182, 37.543506],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_aca8f44fa2ea51d2dedf85da99fbe82c = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca target=\"_blank\" href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ab7baf71e8789b823cfefbce0dfbbd6d);
        
    
            var marker_47003c1475245f0ae5976fff2386f4f8 = L.marker(
                [55.80885877279509, 37.538316],
                {}
            ).addTo(map_ab7baf71e8789b823cfefbce0dfbbd6d);
        
    
        var popup_7051f0e9fe85f00f2accd23a05e7dcdc = L.popup({"maxWidth": "100%"});

        
            
                var html_838bf152a8fda741be5d874426a0ab91 = $(`<div id="html_838bf152a8fda741be5d874426a0ab91" style="width: 100.0%; height: 100.0%;"><i>Mt. Hood Meadows</i></div>`)[0];
                popup_7051f0e9fe85f00f2accd23a05e7dcdc.setContent(html_838bf152a8fda741be5d874426a0ab91);
            
        

        marker_47003c1475245f0ae5976fff2386f4f8.bindPopup(popup_7051f0e9fe85f00f2accd23a05e7dcdc)
        ;

        
    
    
            marker_47003c1475245f0ae5976fff2386f4f8.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6dd65b498e065287c54e103a0c73c42c = L.marker(
                [55.8032579533732, 37.53422963630879],
                {}
            ).addTo(map_ab7baf71e8789b823cfefbce0dfbbd6d);
        
    
        var popup_dce1365082b50eb1ca7d40d19a4e7189 = L.popup({"maxWidth": "100%"});

        
            
                var html_36613df144e56a8953a6e0b95625a137 = $(`<div id="html_36613df144e56a8953a6e0b95625a137" style="width: 100.0%; height: 100.0%;"><i>Mt. Hood Meadows</i></div>`)[0];
                popup_dce1365082b50eb1ca7d40d19a4e7189.setContent(html_36613df144e56a8953a6e0b95625a137);
            
        

        marker_6dd65b498e065287c54e103a0c73c42c.bindPopup(popup_dce1365082b50eb1ca7d40d19a4e7189)
        ;

        
    
    
            marker_6dd65b498e065287c54e103a0c73c42c.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_485e9fb250ea9f3969c065bea63ff5a2 = L.marker(
                [55.805105771700546, 37.528443],
                {}
            ).addTo(map_ab7baf71e8789b823cfefbce0dfbbd6d);
        
    
        var popup_821b85085d1f0855fecdc50a31a80c28 = L.popup({"maxWidth": "100%"});

        
            
                var html_8d98a7c389d75724067e16101e1ca646 = $(`<div id="html_8d98a7c389d75724067e16101e1ca646" style="width: 100.0%; height: 100.0%;"><i>Mt. Hood Meadows</i></div>`)[0];
                popup_821b85085d1f0855fecdc50a31a80c28.setContent(html_8d98a7c389d75724067e16101e1ca646);
            
        

        marker_485e9fb250ea9f3969c065bea63ff5a2.bindPopup(popup_821b85085d1f0855fecdc50a31a80c28)
        ;

        
    
    
            marker_485e9fb250ea9f3969c065bea63ff5a2.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8ad575b61a1600d6cee9dc1066bba50f = L.marker(
                [55.7985985819297, 37.5376990066557],
                {}
            ).addTo(map_ab7baf71e8789b823cfefbce0dfbbd6d);
        
    
        var popup_2344aa36917dd8a17c37bd83e1e1f10c = L.popup({"maxWidth": "100%"});

        
            
                var html_8eaf1fa6b0ff897d778627a116bbfa5c = $(`<div id="html_8eaf1fa6b0ff897d778627a116bbfa5c" style="width: 100.0%; height: 100.0%;"><i>Mt. Hood Meadows</i></div>`)[0];
                popup_2344aa36917dd8a17c37bd83e1e1f10c.setContent(html_8eaf1fa6b0ff897d778627a116bbfa5c);
            
        

        marker_8ad575b61a1600d6cee9dc1066bba50f.bindPopup(popup_2344aa36917dd8a17c37bd83e1e1f10c)
        ;

        
    
    
            marker_8ad575b61a1600d6cee9dc1066bba50f.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_64964f2431d4c74b4c80eb9d00d11668 = L.marker(
                [55.80751077240191, 37.55989499999998],
                {}
            ).addTo(map_ab7baf71e8789b823cfefbce0dfbbd6d);
        
    
        var popup_90db5abc15140b448e8299087c06036c = L.popup({"maxWidth": "100%"});

        
            
                var html_6e4b4be45811c5d6b00f7aa8727d3133 = $(`<div id="html_6e4b4be45811c5d6b00f7aa8727d3133" style="width: 100.0%; height: 100.0%;"><i>Mt. Hood Meadows</i></div>`)[0];
                popup_90db5abc15140b448e8299087c06036c.setContent(html_6e4b4be45811c5d6b00f7aa8727d3133);
            
        

        marker_64964f2431d4c74b4c80eb9d00d11668.bindPopup(popup_90db5abc15140b448e8299087c06036c)
        ;

        
    
    
            marker_64964f2431d4c74b4c80eb9d00d11668.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>