<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_eebde19e03fcb025dd0eb0f0d1eeb963 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_eebde19e03fcb025dd0eb0f0d1eeb963" ></div>
        
</body>
<script>
    
    
            var map_eebde19e03fcb025dd0eb0f0d1eeb963 = L.map(
                "map_eebde19e03fcb025dd0eb0f0d1eeb963",
                {
                    center: [55.753544, 37.621202],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_de0e74be821d67106cd8562b26569bf1 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca target=\"_blank\" href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_eebde19e03fcb025dd0eb0f0d1eeb963);
        
    
            var marker_a84bca0e04231ec380116fbcc1f636d1 = L.marker(
                [55.754660757023636, 37.621529],
                {}
            ).addTo(map_eebde19e03fcb025dd0eb0f0d1eeb963);
        
    
        var popup_4959b4867fd76c02e05b66159a7095ef = L.popup({"maxWidth": "100%"});

        
            
                var html_31e8e79c2617cdae8e2b2715e0e8f022 = $(`<div id="html_31e8e79c2617cdae8e2b2715e0e8f022" style="width: 100.0%; height: 100.0%;"><i>Mt. Hood Meadows</i></div>`)[0];
                popup_4959b4867fd76c02e05b66159a7095ef.setContent(html_31e8e79c2617cdae8e2b2715e0e8f022);
            
        

        marker_a84bca0e04231ec380116fbcc1f636d1.bindPopup(popup_4959b4867fd76c02e05b66159a7095ef)
        ;

        
    
    
            marker_a84bca0e04231ec380116fbcc1f636d1.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e0fbbc043e113453f4ed0b5d68f30384 = L.marker(
                [55.754660757023636, 37.621529],
                {}
            ).addTo(map_eebde19e03fcb025dd0eb0f0d1eeb963);
        
    
        var popup_6dd1cc30352b56426a0e4d41eadb01d9 = L.popup({"maxWidth": "100%"});

        
            
                var html_9fbc208bd7e89919f54880599b6efd13 = $(`<div id="html_9fbc208bd7e89919f54880599b6efd13" style="width: 100.0%; height: 100.0%;"><i>Mt. Hood Meadows</i></div>`)[0];
                popup_6dd1cc30352b56426a0e4d41eadb01d9.setContent(html_9fbc208bd7e89919f54880599b6efd13);
            
        

        marker_e0fbbc043e113453f4ed0b5d68f30384.bindPopup(popup_6dd1cc30352b56426a0e4d41eadb01d9)
        ;

        
    
    
            marker_e0fbbc043e113453f4ed0b5d68f30384.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b5cc3ae0fbb78550ee1360771bf10e0f = L.marker(
                [55.75321475660388, 37.626224999999984],
                {}
            ).addTo(map_eebde19e03fcb025dd0eb0f0d1eeb963);
        
    
        var popup_751fa974ba52791201d1efc9ed1411ca = L.popup({"maxWidth": "100%"});

        
            
                var html_d2c42a64702b6a7f8356f2e17cad1cfd = $(`<div id="html_d2c42a64702b6a7f8356f2e17cad1cfd" style="width: 100.0%; height: 100.0%;"><i>Mt. Hood Meadows</i></div>`)[0];
                popup_751fa974ba52791201d1efc9ed1411ca.setContent(html_d2c42a64702b6a7f8356f2e17cad1cfd);
            
        

        marker_b5cc3ae0fbb78550ee1360771bf10e0f.bindPopup(popup_751fa974ba52791201d1efc9ed1411ca)
        ;

        
    
    
            marker_b5cc3ae0fbb78550ee1360771bf10e0f.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_477414b569439eb94bd845974709ba42 = L.marker(
                [55.75706419199997, 37.621987746],
                {}
            ).addTo(map_eebde19e03fcb025dd0eb0f0d1eeb963);
        
    
        var popup_d50f7b2f5c297d09c7300353e217db69 = L.popup({"maxWidth": "100%"});

        
            
                var html_603524253791862bd21c64f065dda4e9 = $(`<div id="html_603524253791862bd21c64f065dda4e9" style="width: 100.0%; height: 100.0%;"><i>Mt. Hood Meadows</i></div>`)[0];
                popup_d50f7b2f5c297d09c7300353e217db69.setContent(html_603524253791862bd21c64f065dda4e9);
            
        

        marker_477414b569439eb94bd845974709ba42.bindPopup(popup_d50f7b2f5c297d09c7300353e217db69)
        ;

        
    
    
            marker_477414b569439eb94bd845974709ba42.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_43e7ebb14b56852dcb215b63d0e995e5 = L.marker(
                [55.75579132932476, 37.614625717781195],
                {}
            ).addTo(map_eebde19e03fcb025dd0eb0f0d1eeb963);
        
    
        var popup_2b570c162ca0ab509681210d9e42318a = L.popup({"maxWidth": "100%"});

        
            
                var html_32123c27df8f5283cffdef796dd3a7da = $(`<div id="html_32123c27df8f5283cffdef796dd3a7da" style="width: 100.0%; height: 100.0%;"><i>Mt. Hood Meadows</i></div>`)[0];
                popup_2b570c162ca0ab509681210d9e42318a.setContent(html_32123c27df8f5283cffdef796dd3a7da);
            
        

        marker_43e7ebb14b56852dcb215b63d0e995e5.bindPopup(popup_2b570c162ca0ab509681210d9e42318a)
        ;

        
    
    
            marker_43e7ebb14b56852dcb215b63d0e995e5.bindTooltip(
                `<div>
                     Click me!
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>